#title
{
    background-color: #ff4c68;
    text-align: left;
    color: #ffffff ;
}

#title .container-fluid{
     padding: 3% 15% 7% ; 
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
   
    
}

.container-fluid{
    padding:7% 15%;
}
body{
    font-family: "Montserrat";
    text-align: center;

}





.navbar{
    padding-bottom: 4.5rem;
}



.big-heading{
    font-family: 'Montserrat', sans-serif;
   
    size: 3rem;
    line-height: 1.5;
}
}

/* navigation bar */
.navbar-brand{
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat-light' sans-serif;
}

/* DOWNLOAD BUTTON */
.download-button{
    margin: 5% 3% 5% 0;
}
.title-image{
    width: 18.75rem;
    height: 37.5rem; 
    transform: rotate(15deg);
    position: absolute;
    right: 25%;  
}

@media(max-width: 991px){


    #title{
    }
    .title-image {
    text-align: center;
    position: static;
    transform: rotate(0);
  
    }
}
#features{
    
  
    background-color: #fff;
    position: relative;
    
    
   
}

.feature-box{
   
    padding: 5%;
}
p{
    color: #8f8f8f;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;

}
.icon:hover{
    color: #ff4c68;
}

.feature-title{
    font-size: 1.5rem;
}















 /* Testimonials */
 #testimonials{
     
     background-color: #ef8172;
    color: #fff;
    
 }



 .Testimonials-image{

    width: 10%;
    border-radius: 100%;
    margin: 20px;


 }
 #press{
    background-color: #ef8172;
   
    padding-bottom: 3%;
 }
 .press-image{
    width: 20%;
    padding-right: 100px;
    
 }

 .testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
 }



















 /* pricing section */


.price-text{
    font-size: 3rem;
    line-height: 1.5;
}

#pricing{
    padding:100px;
   
}
 .pricing-coloumn{
     padding: 2% 2%;
 }

 #cta{
   
   
     background-color: #ff4c68;
     color: #ffff;

 }
 .cta-heading{
    font-family: 'Montserrat', sans-serif;
    size: 3.5rem;
    line-height: 1.5;
 }


 .social-icon{
     margin:20px 10px;
 }


 .section-heading{
    size: 3.5rem;
    line-height: 1.5;
 }





 /* media */

 